Source: stromx-studio
Priority: extra
Maintainer: Matthias Fuchs <stromx-devel@googlegroups.com>
Build-Depends: debhelper (>= 7.0.50~), cmake, cdbs, libstromx-dev, libqt4-dev
Standards-Version: 3.9.1
Section: devel
Homepage: http://www.stromx.org

Package: stromx-studio
Section: devel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: A graphical user interface to edit stromx streams
