<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" UpgradeCode="7e72fb91-8763-4b03-883d-957a9ccd3d44" Version="0.1.0" Language="1033" Name="stromx-studio" Manufacturer="The stromx developer team">
        <Package InstallerVersion="300" Compressed="yes"/>
        <Media Id="1" Cabinet="stromx_studio.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="stromx-studio"/>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="stromx-studio"/>
            </Directory>
        </Directory>

        <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
            <Component Id="boost_date_time" Guid="">
                <File Id="boost_date_time" Source="boost_date_time-vc100-mt-1_47.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="boost_filesystem" Guid="">
                <File Id="boost_filesystem" Source="boost_filesystem-vc100-mt-1_47.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="boost_regex" Guid="">
                <File Id="boost_regex" Source="boost_regex-vc100-mt-1_47.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="boost_system" Guid="">
                <File Id="boost_system" Source="boost_system-vc100-mt-1_47.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="boost_thread" Guid="">
                <File Id="boost_thread" Source="boost_thread-vc100-mt-1_47.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="msvcp100" Guid="">
                <File Id="msvcp100" Source="msvcp100.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="msvcr100" Guid="">
                <File Id="msvcr100" Source="msvcr100.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="opencv_core" Guid="">
                <File Id="opencv_core" Source="opencv_core231.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="opencv_highgui" Guid="">
                <File Id="opencv_highgui" Source="opencv_highgui231.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="opencv_imgproc" Guid="">
                <File Id="opencv_imgproc" Source="opencv_imgproc231.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="QtCore4" Guid="">
                <File Id="QtCore4" Source="QtCore4.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="QtGui4" Guid="">
                <File Id="QtGui4" Source="QtGui4.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="stromx_cvcore" Guid="">
                <File Id="stromx_cvcore" Source="stromx_cvcore.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="stromx_cvimgproc" Guid="">
                <File Id="stromx_cvimgproc" Source="stromx_cvimgproc.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="stromx_cvsupport" Guid="">
                <File Id="stromx_cvsupport" Source="stromx_cvsupport.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="stromx_test" Guid="">
                <File Id="stromx_test" Source="stromx_test.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="stromx_runtime" Guid="">
                <File Id="stromx_runtime" Source="stromx_runtime.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="camera" Guid="">
                <File Id="camera" Source="camera.stromx" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="parallel" Guid="">
                <File Id="parallel" Source="parallel.stromx" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="hough" Guid="">
                <File Id="hough" Source="hough.stromx" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="webcamera" Guid="">
                <File Id="webcamera" Source="webcamera.stromx" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="stromx_studio" Guid="">
                <File Id="stromx_studio" Source="stromx-studio.exe" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="xerces_c" Guid="">
                <File Id="xerces_c" Source="xerces-c_3_1.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="zip" Guid="">
                <File Id="zip" Source="zip.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="zlib" Guid="">
                <File Id="zlib" Source="zlib1.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="33282008-ec2d-4227-bd16-69cbad17d87c">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="stromx-studio" Description="The stromx library and studio" Target="[APPLICATIONROOTDIRECTORY]stromx-studio.exe"
                          WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
                <!-- Step 1: Add the uninstall shortcut to your installer package -->
                <Shortcut Id="UninstallProduct"
                          Name="Uninstall stromx"
                          Description="Uninstalls stromx"
                          Target="[System64Folder]msiexec.exe"
                          Arguments="/x [ProductCode]"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\Microsoft\stromx" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <Feature Id="stromx_studio" Title="stromx-studio" Level="1">
            <ComponentRef Id="boost_date_time" />
            <ComponentRef Id="boost_filesystem" />
            <ComponentRef Id="boost_regex" />
            <ComponentRef Id="boost_system" />
            <ComponentRef Id="boost_thread" />
            <ComponentRef Id="msvcp100" />
            <ComponentRef Id="msvcr100" />
            <ComponentRef Id="opencv_core" />
            <ComponentRef Id="opencv_highgui" />
            <ComponentRef Id="opencv_imgproc" />
            <ComponentRef Id="QtCore4" />
            <ComponentRef Id="QtGui4" />
            <ComponentRef Id="stromx_cvcore" />
            <ComponentRef Id="stromx_cvimgproc" />
            <ComponentRef Id="stromx_cvsupport" />
            <ComponentRef Id="stromx_test" />
            <ComponentRef Id="stromx_runtime" />
            <ComponentRef Id="stromx_studio" />
            <ComponentRef Id="camera" />
            <ComponentRef Id="hough" />
            <ComponentRef Id="parallel" />
            <ComponentRef Id="webcamera" />
            <ComponentRef Id="xerces_c" />
            <ComponentRef Id="zip" />
            <ComponentRef Id="zlib" />
            <ComponentRef Id="ApplicationShortcut" />
        </Feature>
    </Product>
</Wix>
