#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Stromx Studio
GenericName=Stromx stream editor
Comment=Open and edit .stromx files
Exec=stromx-studio
Icon=stromx-studio
Terminal=false
Type=Application
Categories=Qt;Development;Design;
